<body>
    <h2>ADD BOOK:</h2>
    <form action="/librarian/addbook" method="POST" enctype="multipart/form-data">
        <div>
            <label>Book Name:</label>
            <input type="text" name="bookname">
        </div>
        <div>
            <label>Book ID:</label>
            <input type="text" name="bookid">
        </div>
        <div>
            <label>Library ID:</label>
            <input type="text" name="libraryid">
        </div>
        <div>
            <label>Quantity:</label>
            <input type="text" name="quantity">
        </div>
        <button type="submit" class="btn btn-primary" >submit</button>
    </form>
</body>
</html>