<h2><b>Borow/return a book:</b></h2>
<form action="/" method="POST" enctype="multipart/form-data">
    <div class="control-group">
      <div class="form-group floating-label-form-group controls">
        <label>StudentName:</label>
        <input type="text" class="form-control" id="studentname" name="username">
    </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>StudentID:</label>
          <input type="text" class="form-control" id="studentid" name="username">
        </div>
    </div>
    <div class="control-group">
        <label for="cars">Book Name:</label>
        <select name="" id="book">
            <option value="bookA">BookA</option>
            <option value="bookB">BookB</option>
            <option value="bookC">BookC</option>
            <option value="bookD">BookD</option>
        </select>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Quantity:</label>
          <input type="text" class="form-control" id="quantity" name="username">
        </div>
    </div>
    <div class="control-group">
        <div class="form-group floating-label-form-group controls">
          <label>Date:</label>
          <input type="date" class="form-control" id="date" name="username">
        </div>
    </div>
      <div class="control-group">
        <label for="cars">Book's Quality:</label>
        <select name="" id="book">
            <option value="well">Well</option>
            <option value="normal">Normal</option>
            <option value="bad">Bad</option>
        </select>
      </div>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" >Borowing</button>
    </div>
    <br>
    <div class="form-group">
      <button type="submit" class="btn btn-primary" >Returning</button>
    </div>
  </form>