<body style="background-image: url('./BG.jpg'); background-color: aqua;">
    <div style="text-align: center;">
    <h2>Insert your ID:</h2>
    <form action="/librarian/login" method="POST" enctype="multipart/form-data">
            <input type="text" name="ID">
      <!-- <div class="form-group"> -->
        <button type="submit" class="btn btn-primary" >Login</button>
      <!-- </div> -->
    </form>
    </div>
    </body>
    