<body style="background-image: url('./BG.jpg'); background-color: aqua;">
<h3><i>Action success!</i></h3>
<form action="/manager/success" method="POST" enctype="multipart/form-data">
    <i><%=message %> success!</i>
</form>
</body>