<link href="./css.css" rel="stylesheet" type="text/css">
<body style="background-image: url('./BG.jpg'); background-color: aqua;">
<div style="text-align: center;">
    <form action="/" method="POST" enctype="multipart/form-data">
    <h2><i><b>Welcome!</b></i></h2>
    <label for="create">You are:</label>
    <select name="action" id="cars">
        <option value="manager">Manager</option>
        <option value="librarian">Librarian</option>
        <option value="student">Student</option>
    </select>
    <button type="submit" class="btn btn-primary" >submit</button>
  </form>
</div>
</body>